<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Terremotos</title>
        <link rel="shortcut icon" href="{% static 'terremotos/img/Terremoto-Icon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'terremotos/css/Estilos.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
            </nav>
            <section class="textos-header">
                <h1>Revisa los ultimos registros de Terremotos</h1>
            </section>
        </header>

        <!--Seccion donde irán los terremotos-->
        <section class="terremotos-section">
            <div class="titular">
                <h2 class="titulo">Ulimos terremotos</h2>
            </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Lugar</th>
                            <th>Magnitud</th>
                            <th>Fecha</th>
                            <th>Alerta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for terremoto in terremotos %}
                            <tr>
                                <td>{{ terremoto.lugar }}</td>
                                <td>{{ terremoto.magnitud }}</td>
                                <td>{{ terremoto.tiempo }}</td>
                                <td>{{ terremoto.alerta }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <div>
                <p></p>
            </div>
            
        </section>

        <footer>
            <div class="contenedor-footer">
                <div class="subcontenedor-footer">
                    <h3>Integrantes</h4>
                    <p>Kevin Díaz</p>
                    <p>Kevin Espinoza</p>
                </div>
            </div>
        </footer>
    </body>
</html>