<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Terremotos</title>
        <link rel="shortcut icon" href="{% static 'terremotos/img/Icon.png' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'terremotos/css/Estilos.css' %}">
    </head>

    <body id="page-top">

        <!-- Barra de Navgación -->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <h1 class="navbar-brand" href="#page-top">Terremotos</h1>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#registros">Registros</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#estadisticas">Estadísticas</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Portada -->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="{% static 'terremotos/img/terremoto.png' %}"/>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0 text-secondary">ÚLTIMOS REGISTROS DE TERREMOTOS</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line bg-secondary"></div>
                    <div class="divider-custom-icon"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
                    <div class="divider-custom-line bg-secondary"></div>
                </div>
            </div>
        </header>

        <!-- Seccion de terremotos-->
        <section class="page-section registros" id="registros">
            <div class="container">
                <!-- titulo de la sección -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registros</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Tabla con los últimos terremotos -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Lugar</th>
                                    <th scope="col">Magnitud</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Profundidad</th>
                                    <th scope="col">Tsunami</th>
                                    <th scope="col">Alerta</th>
                                    <th scope="col">Movimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for terremoto in terremotos %}
                                    <tr>
                                        <td>{{ terremoto.lugar }}</td>
                                        <td>{{ terremoto.magnitud }}</td>
                                        <td>{{ terremoto.tiempo }}</td>
                                        <td>{{ terremoto.profundidad }}</td>
                                        <td>{{ terremoto.tsunami }}</td>
                                        <td>{{ terremoto.alerta }}</td>
                                        <td>{{ terremoto.tipo_movimiento }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="estadisticas">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Estadísticas</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="divider-custom"></div>
                <div class="divider-custom"></div>

                <h1>Respecto a la Magnitud</h1>
                <hr size="15px" style="color: rgb(119, 31, 60);">

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <h1>Mínimo Terremoto</h1>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="table-dark">
                                <th scope="col">Atributo</th>
                                <th scope="col">Descripcion</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td>Lugar</td>
                                    <td>{{ magnitud.terremoto_min_mag.lugar }}</td>
                                  </tr>
                                <tr class="table-light">
                                    <td>Magnitud</td>
                                    <td>{{ magnitud.terremoto_min_mag.magnitud }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Tiempo</td>
                                    <td>{{ magnitud.terremoto_min_mag.tiempo }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Fecha actualizacion</td>
                                    <td>{{ magnitud.terremoto_min_mag.fecha_actualizacion }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Profundidad</td>
                                    <td>{{ magnitud.terremoto_min_mag.profundidad }}</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <h1>Máximo Terremoto</h1>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="table-dark">
                                <th scope="col">Atributo</th>
                                <th scope="col">Descripcion</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td>Lugar</td>
                                    <td>{{ magnitud.terremoto_max_mag.lugar }}</td>
                                  </tr>
                                <tr class="table-light">
                                    <td>Magnitud</td>
                                    <td>{{ magnitud.terremoto_max_mag.magnitud }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Tiempo</td>
                                    <td>{{ magnitud.terremoto_max_mag.tiempo }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Fecha actualizacion</td>
                                    <td>{{ magnitud.terremoto_max_mag.fecha_actualizacion }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Profundidad</td>
                                    <td>{{ magnitud.terremoto_max_mag.profundidad }}</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <h1>Estadísticas</h1>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="table-dark">
                                <th scope="col">Atributo</th>
                                <th scope="col">Descripcion</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td>Media</td>
                                    <td>{{ magnitud.media_mag.magnitud__avg }}</td>
                                  </tr>
                                <tr class="table-light">
                                    <td>Mediana</td>
                                    <td>{{ magnitud.mediana_mag }}</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>

                <div class="divider-custom"></div>

                <h1>Respecto a la Profundidad</h1>
                <hr size="15px" style="color: rgb(119, 31, 60);">

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4 mb-5">
                        <h1>Mínimo Terremoto</h1>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="table-dark">
                                <th scope="col">Atributo</th>
                                <th scope="col">Descripcion</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td>Lugar</td>
                                    <td>{{ profundidad.terremoto_min_pro.lugar }}</td>
                                  </tr>
                                <tr class="table-light">
                                    <td>Magnitud</td>
                                    <td>{{ profundidad.terremoto_min_pro.magnitud }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Tiempo</td>
                                    <td>{{ profundidad.terremoto_min_pro.tiempo }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Fecha actualizacion</td>
                                    <td>{{ profundidad.terremoto_min_pro.fecha_actualizacion }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Profundidad</td>
                                    <td>{{ profundidad.terremoto_min_pro.profundidad }}</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <h1>Máximo Terremoto</h1>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="table-dark">
                                <th scope="col">Atributo</th>
                                <th scope="col">Descripcion</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td>Lugar</td>
                                    <td>{{ profundidad.terremoto_max_pro.lugar }}</td>
                                  </tr>
                                <tr class="table-light">
                                    <td>profundidad</td>
                                    <td>{{ profundidad.terremoto_max_pro.profundidad }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Tiempo</td>
                                    <td>{{ profundidad.terremoto_max_pro.tiempo }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Fecha actualizacion</td>
                                    <td>{{ profundidad.terremoto_max_pro.fecha_actualizacion }}</td>
                                </tr>
                                <tr class="table-light">
                                    <td>Profundidad</td>
                                    <td>{{ profundidad.terremoto_max_pro.profundidad }}</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <h1>Estadísticas</h1>
                        <table class="table table-bordered">
                            <thead>
                              <tr class="table-dark">
                                <th scope="col">Atributo</th>
                                <th scope="col">Descripcion</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td>Media</td>
                                    <td>{{ profundidad.media_pro.profundidad__avg }}</td>
                                  </tr>
                                <tr class="table-light">
                                    <td>Mediana</td>
                                    <td>{{ profundidad.mediana_pro }}</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer About Text-->
                    <div class="divider-custom-line" id="subcontenedor-footer">
                        <h4 class="text-uppercase mb-4">Integrantes</h4>
                        <div class="divider-custom divider-light">
                            <div class="divider-custom-line"></div>
                        </div>
                        <p class="lead mb-0">
                            Kevin Díaz
                            <br />
                            Kevin Espinoza
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>
                    Universidad de Santiago de Chile
                    <br />
                    Segundo Semestre - 2021
                </small>
            </div>
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
