* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background-color: #01333a;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER Y CABECERAS */
header {
    width: 100%;
    height: 300px;
    background: #bc4e9c;
    background: linear-gradient(to right, hsla(124, 44%, 86%, 0.459), hsla(124, 56%, 80%, 0.459)), url(../img/Portada1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 230px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* BARRA DE NAVEGACION */
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

/* TITULO PRINCIPAL */
.textos-header h1{
    font-size: 65px;
    color:rgb(2, 59, 73);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

.terremotos-section{
    background: #f2f2f2;
    padding-bottom: 30px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* PIE DE PÁGINA */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.subcontenedor-footer{
    text-align: center;
}

.subcontenedor-footer h3{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.subcontenedor-footer p{
    color: #ccc;
}



